
HomePro/.idea/misc.xml
HomePro/.idea/libraries/__local_aars___C__Users_Gary_Documents_GitHub_HomePro_HomePro_app_libs_jtds_1_3_0_jar_unspecified_jar.xml
HomePro/.idea/libraries/__local_aars___C__Users_Gary_Documents_GitHub_HomePro_HomePro_app_libs_jtds_1_3_0_jar_unspecified_jar.xml
HomePro/app/src/main/res/layout/activity_ubicacion.xml
HomePro/build/android-profile/profile-2017-11-23-21-22-43-786.json
*.rawproto
HomePro/.idea/libraries/__local_aars___C__Users_Corei7_Desktop_HomePro_HomePro_app_libs_jtds_1_3_0_jar_unspecified_jar.xml
HomePro/.idea/libraries/__local_aars___C__Users_Corei7_Desktop_HomePro_HomePro_app_libs_jtds_1_3_0_jar_unspecified_jar.xml
