/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1742)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [homepro]
GO
/****** Object:  Table [dbo].[tbl_comentarios_rating]    Script Date: 01/12/2017 13:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_comentarios_rating](
	[email_persona_comentario] [varchar](100) NOT NULL,
	[email_persona_especialista] [varchar](100) NOT NULL,
	[comentario_persona] [nvarchar](max) NULL,
	[rating_especialista] [decimal](2, 1) NULL,
 CONSTRAINT [PK_comens] PRIMARY KEY CLUSTERED 
(
	[email_persona_comentario] ASC,
	[email_persona_especialista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_especialidad]    Script Date: 01/12/2017 13:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_especialidad](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_especialidad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_especialidad_persona]    Script Date: 01/12/2017 13:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_especialidad_persona](
	[id_especialidad_persona] [int] IDENTITY(1,1) NOT NULL,
	[email_persona_especialidad_persona] [varchar](100) NOT NULL,
	[id_especialidad_especialidad_persona] [int] NOT NULL,
	[especialidad_principal_especialidad_persona] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_persona]    Script Date: 01/12/2017 13:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_persona](
	[email_persona] [varchar](100) NOT NULL,
	[nombre_persona] [varchar](100) NOT NULL,
	[apellido_persona] [varchar](100) NOT NULL,
	[telefono_persona] [varchar](100) NOT NULL,
	[lat_persona] [decimal](20, 15) NOT NULL,
	[lng_persona] [decimal](20, 15) NOT NULL,
	[contrasena_persona] [varchar](64) NOT NULL,
	[foto_persona] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[email_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbl_comentarios_rating] ([email_persona_comentario], [email_persona_especialista], [comentario_persona], [rating_especialista]) VALUES (N'kixi.13.7@gmail.com', N'123@gmail.com', N'Muy bueno el men :P', CAST(4.5 AS Decimal(2, 1)))
SET IDENTITY_INSERT [dbo].[tbl_especialidad] ON 

INSERT [dbo].[tbl_especialidad] ([id_especialidad], [descripcion_especialidad]) VALUES (1, N'Albanil')
INSERT [dbo].[tbl_especialidad] ([id_especialidad], [descripcion_especialidad]) VALUES (2, N'Gasfitero')
INSERT [dbo].[tbl_especialidad] ([id_especialidad], [descripcion_especialidad]) VALUES (3, N'Carpintero')
SET IDENTITY_INSERT [dbo].[tbl_especialidad] OFF
SET IDENTITY_INSERT [dbo].[tbl_especialidad_persona] ON 

INSERT [dbo].[tbl_especialidad_persona] ([id_especialidad_persona], [email_persona_especialidad_persona], [id_especialidad_especialidad_persona], [especialidad_principal_especialidad_persona]) VALUES (1, N'123@gmail.com', 1, N'1')
INSERT [dbo].[tbl_especialidad_persona] ([id_especialidad_persona], [email_persona_especialidad_persona], [id_especialidad_especialidad_persona], [especialidad_principal_especialidad_persona]) VALUES (2, N'123@gmail.com', 2, N'1')
INSERT [dbo].[tbl_especialidad_persona] ([id_especialidad_persona], [email_persona_especialidad_persona], [id_especialidad_especialidad_persona], [especialidad_principal_especialidad_persona]) VALUES (3, N'123@gmail.com', 3, N'1')
SET IDENTITY_INSERT [dbo].[tbl_especialidad_persona] OFF
ALTER TABLE [dbo].[tbl_comentarios_rating] ADD  DEFAULT ('') FOR [comentario_persona]
GO
ALTER TABLE [dbo].[tbl_comentarios_rating] ADD  DEFAULT ((0.0)) FOR [rating_especialista]
GO
ALTER TABLE [dbo].[tbl_comentarios_rating]  WITH CHECK ADD  CONSTRAINT [fk_especialista] FOREIGN KEY([email_persona_especialista])
REFERENCES [dbo].[tbl_persona] ([email_persona])
GO
ALTER TABLE [dbo].[tbl_comentarios_rating] CHECK CONSTRAINT [fk_especialista]
GO
ALTER TABLE [dbo].[tbl_comentarios_rating]  WITH CHECK ADD  CONSTRAINT [fk_persona] FOREIGN KEY([email_persona_comentario])
REFERENCES [dbo].[tbl_persona] ([email_persona])
GO
ALTER TABLE [dbo].[tbl_comentarios_rating] CHECK CONSTRAINT [fk_persona]
GO
ALTER TABLE [dbo].[tbl_especialidad_persona]  WITH CHECK ADD  CONSTRAINT [FK_email] FOREIGN KEY([email_persona_especialidad_persona])
REFERENCES [dbo].[tbl_persona] ([email_persona])
GO
ALTER TABLE [dbo].[tbl_especialidad_persona] CHECK CONSTRAINT [FK_email]
GO
ALTER TABLE [dbo].[tbl_especialidad_persona]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([id_especialidad_especialidad_persona])
REFERENCES [dbo].[tbl_especialidad] ([id_especialidad])
GO
ALTER TABLE [dbo].[tbl_especialidad_persona] CHECK CONSTRAINT [fk1]
GO
